{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/errors.css' %}">
{% endblock %}

{% block content %}
    <div class="error-404">
        <div class="container text-center mt-5">
            <div class="mp3-player">
                <div class="screen">
                    <div class="error-message">
                        <p class="number-404">404</p>
                        <p class="txt-404">Track Not Found</p>
                    </div>
                </div>
                <div class="buttons">
                    <div class="btn-circle"></div>
                    <div class="btn-row">
                        <div class="btn-play"></div>
                        <div class="btn-pause">
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                        <div class="btn-record"></div>
                    </div>
                </div>
            </div>
            <p class="error-text">Oups, la page que vous cherchez n'existe pas.</p>
            <a href="/" class="btn btn-primary mt-3">Retour à l'accueil</a>
        </div>
    </div>
{% endblock %}