# Ignore les fichiers Python compilés
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore les environnements virtuels (venv)
venv/
env/
ENV/
*.venv
*.env

# Ignore les fichiers de logs et de bases de données temporaires
logs/
*.log
*.sqlite3
db.sqlite3

# Ignore les fichiers générés par l'IDE (VS Code, PyCharm...)
.vscode/
.idea/
*.iml
*.swp

# Ignore les fichiers de dépendances et de build
node_modules/
dist/
build/
.DS_Store

# Ignore les fichiers secrets (variables d’environnement)
.env
.env.local
.env.production
.env.development
.env.test

# Ignore les fichiers de migration Django (optionnel)
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/__pycache__/
!**/migrations/__init__.py

# Ignore les fichiers de cache de Django
staticfiles/
static_collected/

# Ignore tout le contenu de media/
media/*

# Sauf les .gitkeep dans tous les sous-dossiers de media/
!media/.gitkeep
!media/site/.gitkeep
!media/site/**
!media/downloads/.gitkeep
!media/downloads/data/.gitkeep
!media/downloads/images/.gitkeep
!media/users/.gitkeep
!media/artistes/.gitkeep
!media/compilations/.gitkeep
!media/labels/.gitkeep
!media/pressages/.gitkeep
!media/blog/.gitkeep
!media/blog/autres/.gitkeep
!media/blog/illustrations/.gitkeep
!media/blog/news_artistes/.gitkeep
!media/blog/news_evenements/.gitkeep
!media/blog/news_forum/.gitkeep
!media/blog/news_labels/.gitkeep
!media/blog/news_site/.gitkeep


# Ignore les fichiers de tests et coverage (si tu fais des tests)
.coverage
htmlcov/
*.cover

# Autres
.DS_Store
*.bak
*.tmp
script_arbo.ps1
arborescence_*.txt
