/* ################################### */
/* ## footer.css - Styles du footer ## */
/* ################################### */

/* Liens */
.site-footer .footer a {
    color: #333 !important; /* Couleur sombre pour qu'ils soient lisibles */
    transition: color 0.3s ease-in-out;
    font-size: 0.9rem !important; /* Réduit la taille des liens */
}

.site-footer .footer a:hover {
    color: #00a0c6 !important;
}

/* Alignement tu texte */
.site-footer .footer .row {
    text-align: left; /* Aligner tout le contenu des colonnes à gauche */
}

/* Suppression des marges internes imposées par Bootstrap */
.site-footer .container {
    --bs-gutter-x: 0 !important;
}

/* Titres des colonnes */
.site-footer .footer h5 {
    text-transform: uppercase;
    font-size: 1rem;
    margin-bottom: 10px;
}

/* Aligner la 1ʳᵉ colonne avec la marge du bloc central */
.site-footer .footer .row .col-md-4:first-child {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
