<div class="sidebar-section blog-categories">
    <h3 class="sidebar-title">Catégories</h3>
    <ul class="list-unstyled">
      {% for cat in categories %}
        <li{% if categorie_active and cat == categorie_active %} class="active"{% endif %}>
          {% if categorie_active and cat == categorie_active %}
            <span>{{ cat.nom }} ({{ cat.nb_principale|add:cat.nb_secondaire }})</span>
          {% else %}
            {% if annee %}
              <a href="{% url 'app_blog:articles_par_annee_categorie' annee=annee slug=cat.slug %}">
                {{ cat.nom }} ({{ cat.nb_principale|add:cat.nb_secondaire }})
              </a>
            {% else %}
              <a href="{% url 'app_blog:articles_par_categorie' cat.slug %}">
                {{ cat.nom }} ({{ cat.nb_principale|add:cat.nb_secondaire }})
              </a>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
</div>
  