{% extends "base.html" %}

{% block title %}Modifier la page - {{ page.title }}{% endblock %}

{% block content %}
    <h1>Modifier la page : {{ page.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.media }}  {# Charge les ressources nécessaires (TinyMCE) #}
        {{ form.as_p }}

        {# Actions : Retour à gauche, Enregistrer à droite, responsive #}
        <div class="row g-2 mt-3 align-items-stretch">
            <div class="col-12 col-sm-auto">
                <a href="{% url 'app_main:static_page' slug=page.slug %}" class="btn btn-secondary w-100">
                    << Retour
                </a>
            </div>
            <div class="col-12 col-sm-auto ms-sm-auto">
                <button type="submit" class="btn btn-primary w-100">
                    Enregistrer
                </button>
            </div>
        </div>
    </form>
{% endblock %}
